body {
    margin: 0;
    text-align: center;
}

#c1-container {
    background-color: rgba(105, 67, 255, 1);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#c1-container button {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    /* padding: 25px 0  0 65px; */
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    color: rgba(61, 61, 61, 1);
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto;     */
}

#number {
    border: rgba(178, 149, 255, 1) solid 2px;
    background-color: rgba(105, 67, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: xxx-large;
    margin: 20px 0 25px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    height: 60px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;  
}

#c2-container {
    background-color: rgba(244, 244, 244, 1);
    padding: 10px;
}

#length-container, #volume-container, #mass-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    margin: 30px;
    color: rgba(90, 83, 123, 1);
    font-weight: 600;
    border-radius: 5px;
}

#l-conversion, #v-conversion, #m-conversion {
    color: rgba(61, 61, 61, 1);
    font-weight: 500;
}