body {
    margin: 0;
    background-color: rgba(236, 253, 245, 1);
    font-family: "Montserrat", sans-serif;
}

.container {
    margin-left: 25px;
}

.divider {
    width: 500px;
    border: 1px solid rgba(213, 212, 216, 1);
    margin-left: 0;
    margin-top: 35px;
}

.pwd {
    width: 100px;
    border: 2px solid black;
}

#genpwd {
    margin-top: 30px;
    background-color: rgba(16, 185, 129, 1);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

h1 {
    color: rgba(17, 24, 39, 1);
}

p {
    color: rgba(107, 114, 128, 1);
}

#pwd1, #pwd2 {
    display: inline-block;
    width: 220px;
    margin-top: 25px;
    margin-right: 25px;
    padding: 8px;
    background-color: rgba(39, 53, 73, 1);
    color: rgba(16, 185, 129, 1);
    border-radius: 5px;
    height: 20px;
    text-align: center;
}

/* #twopwd {
    display: flex;
    border: 2px solid;
    gap: 10px;
    background-color: rgba(39, 53, 73, 1);
} */