body {
    margin: 0;
    /* text-align: center; */
}

#container {
    max-width: 600px;
    font-family: "Smythe", system-ui;
}

header {
    height: 150px;
    border: 2px solid;
}

#h-img {
    height: 150px;
    object-fit: cover;
}

#menu-container {
    border: 2px solid;
}