body {
    margin: 0;
    /* text-align: center; */
}

#container {
    max-width: 400px;
    font-family: "Smythe", system-ui;
}

header {
    height: 200px;
    width: 400px;
    display: flex;
    border: 2px solid blue;
    position: relative;
}

#header-text {
    display: flex;
    z-index: 1;
    position: absolute;
}

#h-img {
    height: 200px;
    object-fit: cover;
}

#menu-container {
    border: 2px solid;
}