body {
    margin: 0;
    /* text-align: center; */
}

#container {
    font-family: "Smythe", system-ui;
}

header {
    height: 10rem;
    width: 30rem;
    display: flex;
    /* border: 2px solid red; */
    position: relative;
}

#header-text {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-self: center;
    /* border: 2px solid red; */
    z-index: 1;
    position: absolute;
}

#h-img {
    width: 100%;
    object-fit: cover;
}

#menu-container {
    border: 2px solid greenyellow;
    width: 30rem;
}

#card {
    display: flex;
    padding: 10px 20px;
}

#item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid red;
}

#emoji {
    
}

#info {
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

#add-btn {
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: xx-large;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
    color: white;
    border: none;
    align-self: center;
}

#line {
    width: 25rem;
    color: lightgray;
}