/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Manrope", sans-serif;
}

.hero {
    /* border: 2px solid violet; */
    margin: 0;
    background-image: url('https://wallpapers.com/images/hd/hyderabad-sagar-lake-night-view-shux6dqzbwv2w740.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title:hover {
    letter-spacing: 10px;
}

.title {
    /* border: 2px solid red; */
    margin: 0px;
    color: whitesmoke;
    font-size: 6em;
}

.description {
    /* border: 2px solid pink; */
    font-size: 1.2em;
    color: whitesmoke;
}

.activities {
    /* border: 2px solid blue; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.activity-title {
    /* border: 2px solid green; */
    font-size: 2em;
    color: #222222;
    text-shadow: 0px 0px 5px grey;
    margin-bottom: 50px;
}

.activity-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.activity-img img {
    /* border: 2px solid yellow; */
    width: 300px;
    list-style: none;
}

.one, .two, .three {
    list-style: none;
    /* border: 2px solid red; */
}


.activity-img h4, p {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: 300px;
}

.place-title {
    font-size: 1.2em;
}

.guide-info-card {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border: 20px solid burlywood;
}

.guide-info-card h3 {
    font-size: 2em;
    font-weight: bolder;
}

.guide-info h4 {
    /* border: 2px solid red; */
    font-size: 1.6em;
    width: 600px;
}

.guide-info p {
    /* border: 2px solid red; */
    font-size: 1.2em;
    width: 600px;
}

.avatar {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}


/* img {
    border: 2px solid red;
    width: 100px;
} */